*{
    text-decoration: none;
    font-family: 'Comfortaa',sans-serif;
}

html {
    height: 100%;

}
body{
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: url("../blurredcity2.jpg") center;
}


.formulaire_connexion{
    width: 25%;
    display: flex;
    flex-direction: column;
    background-color:rgba(255,255,255,0.5);
    border-radius: 5px;
    margin: auto;
}
.champ{
    line-height: 1.5em;
    width: 80%;
    margin-left: 8%;
    margin-top: 5%;
    border-style: solid;
    border-color: #3a768f;
    border-width: 1px;

}
.boutton{
    border-radius: 10px;
    background: #0667D0;
    width: 30%;
    margin-left: 35%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px 10px 5px 10px;
    font-size: 16px;
    border-width: 0px;
    color: #FFFFFF;
}
.phrase1{
    color: #353535;
    font-size: 20px;
    text-align: center;
}
.phrase2{
    font-size: 20px;
    color: #EA4335;
}
.imgHome{
    width: 20%;
    margin: 0 auto;
    display: flex;
}
.cgu{
    margin-left: 8%;
    margin-top: 5px;
}
.g-recaptcha{
    margin-left: 8%;
    margin-top: 5px;
}
.lien_connexion{
    color: #353535;
    font-size: 15px;
    margin-top: 5px;
    text-align: center;
}
.erreur_mdp1, .erreur_mdp2{
    font-size: 12px;
    margin-left: 8%;
    margin-right: 10%;
}