html {
    background-color: #0667D0;
}
.formulaire_connexion{
    width: 25%;
    background: #FFFFFF;
    border-radius: 5px;
    margin: auto;
}
.champ{
    line-height: 1.5em;
    width: 80%;
    margin-top: 5%;
    margin-left: 8%;

}
.boutton{
    border-radius: 10px;
    background: #0667D0;
    width: 30%;
    margin-left: 35%;
    padding: 5px 10px 5px 10px;
    font-size: 14px;
    color: #FFFFFF;
}
p{
    color: #FFFFFF;
    text-align: center;
}
.imgHome{
    width: 20%;
    margin: 0 auto;
    display: flex;
}