* {
  font-family: 'Comfortaa',sans-serif;
  text-decoration: none;
  color:#343434;

}
html{
  background: white;
  margin:0;
  padding:0;
  height:100%;
  position: relative;
  min-height: 100%;
}
header {
  position: absolute;
  top:0;
  left:0;
  z-index: 999;
  width:100%;
}
body {
  position: relative;
  margin:0;
  overflow-x: hidden;
  height:1000px;
}
div.navbar {
  overflow: hidden;
  //background-color: #4650E2;
  background:linear-gradient(-90deg, #4650E2, #00A2E8);
  position: static;
  top: 0;
  width: 100%;
  padding-top: 3rem;
  text-align: center;
  box-shadow: 0px 2px 2px 0px #BEBEBE;
  z-index: 2;
}

div.navbar a {
  display: inline-block;
  color: #F2F2F2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px


}

div.navbar a:hover {
  background: #1111;
  //font-size:150%;
  color: black;
}


div.container {
  position: relative;
  top:100px;
  display: flex;
  flex-direction: row;
  background-color: white;
  align-content: flex-start;
  text-align: center;
  justify-content:center;
  width: 100%;
  z-index: -1;
}
div.column {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  background-color: white;

}
article{
  display: inline-block;
  background-color:#1111;
  margin: 40px 20px 00px 0px;
  box-shadow: 1px 1px 1px 1px #BEBEBE;
  width:450px;
  height: 300px;
  overflow:hidden;

}

aside{
  text-align:center;
  display: inline-block;
  background-color: #1111;
  //border: solid #BEBEBE;
  box-shadow: 1px 1px 1px 1px #BEBEBE;
  margin: 40px 20px 0px 20px;

  width: 300px;
  height: 300px;
  overflow: hidden;

}
div.container a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
div.container a {
  overflow: hidden;
  position: relative;
  top: 0;
  display:block;

}
a.domicile {
  background-color: #00A2E8;
  position: -webkit-sticky;
  position: sticky;
  cursor:pointer;
}
a.historique {
  background-color: #1E77F3;
  position: -webkit-sticky;
  position: sticky;
  cursor:pointer;
}
a.alarme {
  background-color: #1E77F3;
  position: -webkit-sticky;
  position: sticky;
  cursor:pointer;
}
a.statistiques {
  background-color: #00A2E8;
  position: -webkit-sticky;
  position: sticky;
  cursor:pointer;
}
a.general {
  background-color: #4650E2;
  position: -webkit-sticky;
  position: sticky;
  cursor:pointer;
}

article:hover{
  box-shadow: 1px 1px 1px 2px #BEBEBE;

}
aside:hover{
  box-shadow: 1px 1px 1px 2px #BEBEBE;

}
footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;


  text-align:center;
  padding:20px;
  background-color: #696969;
  width:100%;
}

article > ::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

article > ::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
  position: relative;
  top:50px;
  margin-top:150px;
}

article > ::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #696969;

}
