* {
  text-decoration: none;
  box-sizing: border-box;
}

body{
	width: 100%;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container_left {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 60px;
}
.flex1 {
  width:400px;
  height:550px;
  padding: 20px;
  margin-bottom:80px;
}

.flex2 {
  width: 300px;
  height:200px;
  padding: 20px;
  margin-bottom:80px;
}

.flex3 {
	width: 700px;
	padding: 20px;
}




.flex1 .accordion, .flex2 .accordion, .flex3 .accordion  {
  background:linear-gradient(-45deg, #4650E2, #00A2E8);
  color: white;
  font-weight: bold;
  font-size: 20x;
}



.accordion {
  font-family: 'Roboto';
  cursor: pointer;
  padding: 18px;
  width: 100%;
  font-size: 16px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  font-family: 'Lato';
  padding: 0 18px;
  background-color: white;
  height: 450px;
  overflow-y: auto;
  transition: max-height 0.2s ease-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
}

.panel p {
	text-align:center;
}
.panel h3 {
background:linear-gradient(-90deg, #4650E2, #00A2E8);
border: 1px solid black;
text-align:center;
padding:5px;	
color: white;
}

#sample, #sample2 {
    border: 1px solid black;
    height: 0px;
    padding: 0px;
    overflow: hidden;
    position :relative;    
}

#afficher, #afficher2 {
	margin: auto;
	border: 1px solid black;
	width: 45%;
	border-radius: 5px;
}
#afficher:hover, #afficher2:hover {
	cursor:pointer;
	background-color: lightblue;
}
#sample img, #sample2 img {
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.graphe{
	width: 200px;
	height: 300px
}

.panel::-webkit-scrollbar-track
{
  border-radius: 10px;
  background-color: #F5F5F5;
}

.panel::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

.panel::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #555;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  vertical-align: top;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

strong{
	font-weight: bold;
}

.value
{
	display: inline-block;
	margin-top: 5px;
}

input[type="range"] {
    position: relative;
    left: 40px;
    margin-left: 1em;
    width: 200px;
    
}
input[type="range"]:after,
input[type="range"]:before {
    position: absolute;
    top: 1em;
    color: #aaa;
}
input[type="range"]:before {
    left:0em;
    content: attr(min);
}
input[type="range"]:after {
    right: 0em;
    content: attr(max);
}

#textInput
{
	postion: absolute;
	margin-top: -28px;
	margin-left: -160px;
}







