html,body{
  background: white;
}

div.container {
  display: flex;
  flex-direction: row;
  background-color: white;
  align-content: flex-start;
  text-align: center;
  justify-content:center;
  width: 80%;
  margin : auto;
  z-index: -1;
  margin-bottom: 50px;
}

div.column {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  background-color: white;
  width:100%;
}

article{
  display: inline-block;
  background-color:#1111;
  margin: 40px 40px 00px 0px;
  box-shadow: 1px 1px 1px 1px #BEBEBE;
  width:100%;
  overflow:hidden;
}

article.main {
  position: relative;
  top:-40px;
  display:flex;
  flex-wrap:wrap;
  height:500px;
  overflow-y:scroll;
}

.childPanne {
  width:320px;
  height:200px;
  overflow-y:auto;
  padding:1%;
  max-height:400px;
  box-shadow:2px 2px 10px rgba(0,0,0,0.2);
  border-radius:30px;
  margin : auto;
  margin-bottom: 10px;
  margin-top:20px;
}
.childPanne ul {
  list-style-type: none;
}
.childPanne ul li {
  width:300px;
  margin-left:-35px;
}
aside{
  text-align:center;
  display: inline-block;
  background-color: #1111;
  box-shadow: 1px 1px 1px 1px #BEBEBE;
  margin: 40px 20px 0px 0px;
  width: 360px;
  height: 500px;
  overflow: hidden;
}

div.container a.probleme {
  display:block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  overflow: hidden;
}

div.container a {
  text-decoration: none;
  color: #000;
}
ul:hover {
  color: #696969;
}

a.probleme{
  background-color: #696969;
  font-family: 'Comfortaa';
  color:white;
}

.liste {
  list-style-type: none;
  font-family: 'Lato';
}

.liste li {
  display: inline-block;
  font-size: 15px;
  width: 100px;
}

.listepanne {
  list-style-type: none;
  font-family: 'Roboto';
}
.listepanne li {
  display: inline-block;
  font-size: 12px;
  width:100px;
}

.listeDetail {
  list-style-type: none;
  font-family: 'Lato';
}

.listeDetail li {
  display: inline-block;
  font-size: 15px;
  width: 155px;
}

.listepanne input {
  text-align: center;
}

input[type=submit] {
  width:auto;
  line-height: 12px;
  max-width:100px;
  border-radius : 5px;
  background-color: #0099ff;
  color:white;
  padding:10px;
  font-size:12px;
  border:none;
  cursor:pointer;
}

input[type=submit]:hover {
  background-color: #4353E2;
}
.main::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #F5F5F5;
}

.main::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

.main::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #555;
}

.childPanne::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #F5F5F5;
}

.childPanne::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
}

.childPanne::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #555;
}

.green {
  display:inline-block;
  color: green;
  font-weight: 800;
}
.orange {
  display:inline-block;
  font-weight: 800;
  color: orange;
}


.filtrer {
  width:300px;
  margin : 0 auto;
  padding: 2px;
}
.filtrer form {
  display:inline;
}
.filtrer p {
  display:inline;
}
