div.formulaire{
    display: flex;
    flex-direction: column;

}
input{
    width: 160px;
    height: 30px;
}
.select-style {
    border: 1px solid #ccc;
    width: 160px;
    height: 30px;
    border-radius: 3px;
    overflow: hidden;
    margin-right: 5px;
}

.select-style select {
    padding: 5px 8px;
    width: 160px;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;

}

.select-style select:focus {
    outline: none;
}

.boutton {
  width:auto;
  line-height: 12px;
  max-width:100px;
  border-radius : 5px;
  background-color: #0099ff;
  color:white;
  padding:10px;
  font-size:12px;
  border:none;
  cursor:pointer;
}
.boutton:hover {
  background-color: #4353E2;
}
