* {
  text-decoration: none;
  box-sizing: border-box;

}

body{
	
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.container2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
  height: 50px;
}
.flex1 {
  width:400px;
  height:350px;
  padding: 20px;
}

.flex2 {
  width: 300px;
  height:550px;
  padding: 20px;
  margin-bottom:80px;
}

.flex3 {
	width: 700px;
	padding: 20px;
	height: 550px;
}

.flex4 {
	width: 600px;
	padding: 20px;
	height: 550px;
}

.flex5 {
	width: 400px;
	
	height: 200px;
}





.flex1 .accordion, .flex2 .accordion, .flex3 .accordion, .flex4 .accordion  {
  background:linear-gradient(-45deg, #4650E2, #00A2E8);
  color: white;
  font-weight: bold;
  font-size: 20px;
}



.accordion {
  font-family: 'Roboto';
  
  padding: 18px;
  width: 100%;
  font-size: 16px;
  border: none;
  outline: none;
  transition: 0.4s;
  text-align: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
}

.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  font-family: 'Lato';
  padding: 0 18px;
  background-color: white;
  height: 450px;
  overflow-y: auto;
  transition: max-height 0.2s ease-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
  text-align: center;
}

.panel2 {
  font-family: 'Lato';
  padding: 0 18px;
  background-color: white;
  height: 250px;
  overflow-y: auto;
  transition: max-height 0.2s ease-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
  text-align: center;
}

.panel3 {
  font-family: 'Lato';
  padding: 0 18px;
  background-color: white;
  height: 220px;
  width: 200px;
  overflow-y: auto;
  transition: max-height 0.2s ease-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
  text-align: center;
  margin-top: 20px;
}

.panel4
{
  font-family: 'Lato';
  padding: 0 18px;
  background-color: white;
  height: 400px;
  overflow-y: auto;
  transition: max-height 0.2s ease-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
  
}

.panel5
{
  font-family: 'Lato';
  padding: 0 18px;
  background-color: white;
  height: 180px;
  overflow-y: auto;
  transition: max-height 0.2s ease-out;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .2);
  text-align: center;
}

.panel h3, .panel2 h3, .panel3 h3, .panel4 h3 {
	background:linear-gradient(-90deg, #4650E2, #00A2E8);
	text-align:center;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
	box-shadow: 0px 4px 4px #1c1a19;
}

.sample, .sample2 {
    border: 1px solid black;
    height: 0px;
    padding: 0px;
    overflow: hidden;
    position :relative;
}

.afficher, .afficher2 {
	margin: auto;
	width: 45%;
	border-radius: 5px;
	background-color:#00A2E8;
	color: white;
}
.afficher:hover, .afficher2:hover {
	cursor:pointer;
	background-color: lightblue;
}


.graphe{
	width: 200px;
	height: 300px
}

.panel::-webkit-scrollbar-track, .panel2::-webkit-scrollbar-track, .panel4::-webkit-scrollbar-track
{
  border-radius: 10px;
  background-color: #F5F5F5;
}

.panel::-webkit-scrollbar, .panel2::-webkit-scrollbar, .panel4::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

.panel::-webkit-scrollbar-thumb, .panel2::-webkit-scrollbar-thumb, .panel4::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  background-color: #555;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  vertical-align: top;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

strong{
	font-weight: bold;
}

.value
{
	display: inline-block;
	margin-top: 5px;
}

input[type=range] {
  -webkit-appearance: none;
  width: 60%;
  margin: 9.5px 0;
  position: relative;
  margin-left: 4em;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #067a97;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #00ffff;
  height: 29px;
  width: 16px;
  border-radius: 3px;
  background: #bcffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9.7px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #0ec7f5;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #067a97;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #00ffff;
  height: 29px;
  width: 16px;
  border-radius: 3px;
  background: #bcffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 10px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #022b35;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #067a97;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #00ffff;
  height: 29px;
  width: 16px;
  border-radius: 3px;
  background: #bcffff;
  cursor: pointer;
  height: 10px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #067a97;
}
input[type=range]:focus::-ms-fill-upper {
  background: #0ec7f5;
}


#textInput
{
	position: absolute;
	margin-top: -29px;
	margin-left: 75px;
}

#textInput2
{
	position: absolute;
	margin-top: -29px;
	margin-left: 75px;
}

.list_user
{
	display: inline-block;
	margin-top: 0;
	padding-left: 0px;
}

.list
{
	margin-right: 7px;
	cursor: pointer;
}
.list:hover
{
	color:gray;
}
.user_form
{
	margin-bottom: 5px;
}

.user_input {
  width:75px;
  line-height: 12px;
  max-width:100px;
  border-radius : 5px;
  background-color: #0099ff;
  color:white;
  padding:2px;
  font-size:12px;
  border:none;
  cursor:pointer;
}
.boutton {
  width:75px;
  line-height: 12px;
  max-width:100px;
  border-radius : 5px;
  background-color: #0099ff;
  color:white;
  padding:8px;
  font-size:12px;
  border:none;
  cursor:pointer;
  margin-top: 5px;
  display: block;
  margin: auto;
}

.boutton:hover, .user_input:hover {
  background-color: #4353E2;
}

.formulaire {
	/* evite les espaces entre le nom et l'entrée d'un formulaire */
	margin-bottom: 0px;
}

input[type=email]
{
	margin-bottom: 10px;
}

.bareme
{
	margin-top: 50px;
}

.checktitle
{
	
	background:linear-gradient(-90deg, #4650E2, #00A2E8);
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	color: white;
	box-shadow: 0px 4px 4px #1c1a19;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 5px;
}

.radio
{
	display: flex;
	flex-direction: row;
	align-items: left;
	padding-top: 0px;
	font-size: 1.1em;
}

label
{
	padding-left: 5px;
}

.checkside
{
	color: #000;
}

.checkpart
{
	display: flex;
	flex-direction: column;
	height: 550px;
}

.consulter
{
	display: block;
	cursor: pointer;
	color: black;
	background: white;
	padding: 5px;
	border-radius: 5px;
	font-size: 1em;
	border: 2px solid black;
	font-weight: bold;
	margin: auto;
}


.consulter:hover
{
	background: linear-gradient(-90deg, #4650E2, #00A2E8);
	color: white;
}

.dom
{
	text-align: center;
}


h1
{
	margin: 5px;
}











