* {
  box-sizing: border-box;
}
html,body {
  margin: 0;
  padding: 0;
}
h1 {
  text-align: center;
}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  margin-top:10px;
  height: auto;

}
.child {
  width:300px;
  height:50px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  background-color: #0099FF;
  margin-bottom:50px;
  border:none;
  font-size:18px;
  line-height: 18px;
}
.child i {
  color : #fff;
  display:inline-block;
}

.child p {
  color:white;
  font-family: 'Lato';
  display: inline-block;
}

.child h3 {
  color: #fff;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Lato';
}

.child:hover {
  background-color: #4353E2;
}

@media screen and (max-width: 600px) {
  .container {
    margin-top:20px;
  }
  .container2 {
    width:100vh;
  }
}

div.container2 {
  display: flex;
  flex-direction: row;
  background-color: white;
  align-content: flex-start;
  text-align: center;
  justify-content:center;
  margin: 0 auto;
  max-width:80vh;
  z-index: -1;
  margin-bottom: 50px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);


}
div.column {
  display: flex;
  align-content: flex-start;
  flex-direction: column;
  background-color: white;
  width:100%;
  position: relative;
}
article{
  display: inline-block;
  background-color: #fafafa;
  margin: 40px 40px 00px 0px;
  width:100%;
  overflow:hidden;
}
article.main {
  height:500px;
}
a {
  text-decoration: none;
}
aside{
  text-align:center;
  display: inline-block;
  background-color: #1111;
  box-shadow: 1px 1px 1px 1px #BEBEBE;
  margin: 40px 20px 0px 0px;
  width: 360px;
  height: 500px;
  overflow: hidden;
}
div.container2 a.probleme {
  display:block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  overflow: hidden;
  position: absolute;
  top:0;
  width: 100%;
}
div.container2 a {
  text-decoration: none;
  color: #000;
}
a.probleme{
  background-color: #2479E5;
  font-family: 'Comfortaa';
  color:white;
}
.liste {
  list-style-type: none;
  font-family: 'Lato';
}
.liste li {
  display: inline-block;
  font-size: 15px;
  width: 120px;
}

.listepanne {
  list-style-type: none;
  font-family: 'Roboto';
}
.listepanne li {
  display: inline-block;
  font-size: 12px;
  width:120px;
}
footer {
  overflow-x: hidden;
  display: none;
}
