* {
  box-sizing: border-box;
}
html,body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.child {
  width:300px;
  height:200px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
  background-color: #0099FF;
}
.child h3 {
  color: #fff;
  position: absolute;
  width: 100%;
  text-align: center;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Lato';
}
.child i {
  color : #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.child:hover {
  background-color: #4353E2;
}
